In [2]:
import pandas as pd

In [3]:
file_path = 'Resources/Covid-19/Data/Rates_of_COVID-19_Cases_or_Deaths_by_Age_Group_and_Vaccination_Status.csv'
Vaccination_df = pd.read_csv(file_path)
Vaccination_df

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,4,32950.0,27310,15994448.0,12.139605,170.746749,14.065263,NaN,NaN,NaN,0
1,case,APR 2021,202114,18-29,all_types,534,2354024.0,67219,28351677.0,22.684561,237.090032,10.451603,NaN,NaN,NaN,0
2,case,APR 2021,202114,30-49,all_types,1486,6849914.0,85688,37230385.0,21.693703,230.156094,10.609350,NaN,NaN,NaN,0
3,case,APR 2021,202114,50-64,all_types,1217,6800881.0,43509,20828144.0,17.894740,208.895233,11.673555,NaN,NaN,NaN,0
4,case,APR 2021,202114,65-79,all_types,1299,13424610.0,12391,6972605.0,9.676259,177.709766,18.365545,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,death,FEB 2022,202208,80+,all_types,231,5878474.0,244,1013904.3,3.929591,24.065388,6.124145,NaN,NaN,NaN,1
993,death,FEB 2022,202208,all_ages_adj,all_types,478,118025701.7,703,47958436.2,0.404997,1.465853,3.619420,0.271648,2.847577,10.482603,1
994,death,FEB 2022,202208,all_ages_adj,Janssen,32,9044148.0,703,47592180.2,0.353820,1.477133,4.174817,0.382908,2.847577,7.436722,1
995,death,FEB 2022,202208,all_ages_adj,Moderna,231,41150563.0,703,47592180.2,0.561353,1.477133,2.631380,0.281733,2.847577,10.107359,1
996,death,FEB 2022,202208,all_ages_adj,Pfizer,215,67755859.0,703,47958436.2,0.317316,1.465853,4.619540,0.254607,2.847577,11.184205,1

In [8]:
Vaccination_df['Month'] = pd.to_datetime(Vaccination_df['month'])

In [11]:
Vaccination_df['Month'] = Vaccination_df['Month'].dt.strftime('%d-%Y')

In [9]:
Vaccination_df.columns.tolist()

['outcome',
 'month',
 'MMWR week',
 'Age group',
 'Vaccine product',
 'Vaccinated with outcome',
 'Fully vaccinated population',
 'Unvaccinated with outcome',
 'Unvaccinated population',
 'Crude vax IR',
 'Crude unvax IR',
 'Crude IRR',
 'Age adjusted vax IR',
 'Age adjusted unvax IR',
 'Age adjusted IRR',
 'Continuity correction',
 'Month']

In [10]:
Vaccination_df.dtypes

outcome                                object
month                                  object
MMWR week                               int64
Age group                              object
Vaccine product                        object
Vaccinated with outcome                 int64
Fully vaccinated population           float64
Unvaccinated with outcome               int64
Unvaccinated population               float64
Crude vax IR                          float64
Crude unvax IR                        float64
Crude IRR                             float64
Age adjusted vax IR                   float64
Age adjusted unvax IR                 float64
Age adjusted IRR                      float64
Continuity correction                   int64
Month                          datetime64[ns]
dtype: object

In [13]:
Jab_df = Vaccination_df[['Month','outcome',
                'MMWR week',
                 'Age group',
                 'Vaccine product',
                 'Vaccinated with outcome',
                 'Fully vaccinated population',
                 'Unvaccinated with outcome',
                 'Unvaccinated population']]

In [14]:
Jab_df

,Month,outcome,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population
0,01-2021,case,202114,12-17,all_types,4,32950.0,27310,15994448.0
1,01-2021,case,202114,18-29,all_types,534,2354024.0,67219,28351677.0
2,01-2021,case,202114,30-49,all_types,1486,6849914.0,85688,37230385.0
3,01-2021,case,202114,50-64,all_types,1217,6800881.0,43509,20828144.0
4,01-2021,case,202114,65-79,all_types,1299,13424610.0,12391,6972605.0
...,...,...,...,...,...,...,...,...,...
992,01-2022,death,202208,80+,all_types,231,5878474.0,244,1013904.3
993,01-2022,death,202208,all_ages_adj,all_types,478,118025701.7,703,47958436.2
994,01-2022,death,202208,all_ages_adj,Janssen,32,9044148.0,703,47592180.2
995,01-2022,death,202208,all_ages_adj,Moderna,231,41150563.0,703,47592180.2
996,01-2022,death,202208,all_ages_adj,Pfizer,215,67755859.0,703,47958436.2

In [60]:
Jab_df = Jab_df.loc[Jab_df['Vaccine product'] == 'all_types']

In [62]:
Jab_df.groupby(['outcome','Age group']).sum([['Vaccinated with outcome', 'Unvaccinated with outcome']])

                      MMWR week  Vaccinated with outcome  \
outcome Age group
case    12-17          10107453                   703587
        18-29          10107453                  1975599
        30-49          10107453                  3607249
        5-11            3032868                   178073
        50-64          10107453                  2263779
        65-79          10107453                  1163305
        80+            10107453                   349256
        all_ages_adj   10107453                 10240848
death   12-17           9500823                       23
        18-29           9500823                      129
        30-49           9500823                     1393
        5-11            2426238                        2
        50-64           9500823                     6633
        65-79           9500823                    18748
        80+             9500823                    23415
        all_ages_adj    9500823                    50343

                      Fully vaccinated population  Unvaccinated with outcome  \
outcome Age group
case    12-17                        2.811192e+08                    1788003
        18-29                        7.692866e+08                    3825458
        30-49                        1.499292e+09                    5198340
        5-11                         4.287365e+07                    1179196
        50-64                        1.323354e+09                    2361992
        65-79                        1.060986e+09                     919896
        80+                          3.116729e+08                     249845
        all_ages_adj                 5.288584e+09                   15522730
death   12-17                        2.300657e+08                        143
        18-29                        6.385214e+08                       2037
        30-49                        1.252187e+09                      17032
        5-11                         2.675156e+07                         34
        50-64                        1.095481e+09                      38613
        65-79                        8.796631e+08                      49718
        80+                          2.572254e+08                      33298
        all_ages_adj                 4.379895e+09                     140875

                      Unvaccinated population
outcome Age group
case    12-17                    4.637337e+08
        18-29                    8.311831e+08
        30-49                    9.722425e+08
        5-11                     2.024946e+08
        50-64                    5.046456e+08
        65-79                    1.701212e+08
        80+                      7.358289e+07
        all_ages_adj             3.218004e+09
death   12-17                    4.006328e+08
        18-29                    7.190802e+08
        30-49                    8.479950e+08
        5-11                     1.489205e+08
        50-64                    4.381504e+08
        65-79                    1.525100e+08
        80+                      6.618275e+07
        all_ages_adj             2.773472e+09

In [64]:
Vax_vs_unvax = Jab_df.groupby(['Age group','outcome']).sum()[['Vaccinated with outcome', 'Unvaccinated with outcome']]

In [67]:
file_path = 'Resources/Covid-19/Cleaned_Data/Vax_vs_unvax.csv'
Vax_vs_unvax.to_csv(file_path)

In [65]:
Vax_vs_unvax = Vax_vs_unvax

In [66]:
Vax_vs_unvax

                      Vaccinated with outcome  Unvaccinated with outcome
Age group    outcome
12-17        case                      703587                    1788003
             death                         23                        143
18-29        case                     1975599                    3825458
             death                        129                       2037
30-49        case                     3607249                    5198340
             death                       1393                      17032
5-11         case                      178073                    1179196
             death                          2                         34
50-64        case                     2263779                    2361992
             death                       6633                      38613
65-79        case                     1163305                     919896
             death                      18748                      49718
80+          case                      349256                     249845
             death                      23415                      33298
all_ages_adj case                    10240848                   15522730
             death                      50343                     140875

In [41]:
Vax_case = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'case']['Vaccinated with outcome'].values

In [42]:
Unvax_case = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'case']['Unvaccinated with outcome'].values

In [43]:
Vax_death = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'death']['Vaccinated with outcome'].values

In [44]:
Unvax_death = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'death']['Unvaccinated with outcome'].values

In [47]:
Vax_death/Vax_case*100

array([3.26896318e-03, 6.52966518e-03, 3.86166855e-02, 1.12313489e-03,
       2.93005634e-01, 1.61161518e+00, 6.70425132e+00, 4.91590150e-01])

In [48]:
Unvax_death/Unvax_case*100

array([7.99774944e-03, 5.32485261e-02, 3.27643055e-01, 2.88332050e-03,
       1.63476422e+00, 5.40474141e+00, 1.33274630e+01, 9.07540104e-01])

In [52]:
case_df = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'case']

In [56]:
case_df

       Age group outcome  Vaccinated with outcome  Unvaccinated with outcome
0          12-17    case                   703587                    1788003
2          18-29    case                  1975599                    3825458
4          30-49    case                  3607249                    5198340
6           5-11    case                   178073                    1179196
8          50-64    case                  2263779                    2361992
10         65-79    case                  1163305                     919896
12           80+    case                   349256                     249845
14  all_ages_adj    case                 10240848                   15522730

In [53]:
death_df = Vax_vs_unvax.loc[Vax_vs_unvax['outcome'] == 'death']

In [57]:
death_df

       Age group outcome  Vaccinated with outcome  Unvaccinated with outcome
1          12-17   death                       23                        143
3          18-29   death                      129                       2037
5          30-49   death                     1393                      17032
7           5-11   death                        2                         34
9          50-64   death                     6633                      38613
11         65-79   death                    18748                      49718
13           80+   death                    23415                      33298
15  all_ages_adj   death                    50343                     140875

In [55]:
new_df = death_df.merge(case_df, how='inner', on='Age group')
new_df

,Age group,outcome_x,Vaccinated with outcome_x,Unvaccinated with outcome_x,outcome_y,Vaccinated with outcome_y,Unvaccinated with outcome_y
0,12-17,death,23,143,case,703587,1788003
1,18-29,death,129,2037,case,1975599,3825458
2,30-49,death,1393,17032,case,3607249,5198340
3,5-11,death,2,34,case,178073,1179196
4,50-64,death,6633,38613,case,2263779,2361992
5,65-79,death,18748,49718,case,1163305,919896
6,80+,death,23415,33298,case,349256,249845
7,all_ages_adj,death,50343,140875,case,10240848,15522730