In [1]:
# Imports
import pandas as pd

In [87]:
import datetime as dt

In [4]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv'
Covid_by_state = pd.read_csv(file_path)
Covid_by_state

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/01/2021,ND,163565,135705.0,27860.0,589,220.0,1907,NaN,NaN,9,0.0,12/02/2021 02:35:20 PM,Agree,Not agree
1,08/17/2020,MD,100715,NaN,NaN,503,0.0,3765,3616.0,149.0,3,0.0,08/19/2020 12:00:00 AM,NaN,Agree
2,03/28/2022,VT,107785,NaN,NaN,467,35.0,585,NaN,NaN,0,0.0,03/29/2022 01:30:11 PM,Not agree,Not agree
3,03/18/2020,ME,44,44.0,0.0,12,0.0,0,0.0,0.0,0,0.0,03/20/2020 12:00:00 AM,Agree,Agree
4,02/06/2020,NE,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50056,07/19/2020,NJ,178541,NaN,NaN,-10,21.0,15706,13732.0,1974.0,34,27.0,07/19/2020 12:00:00 AM,Not agree,Agree
50057,02/10/2021,FSM,1,1.0,0.0,0,0.0,0,0.0,0.0,0,0.0,02/11/2021 02:50:55 PM,Agree,Agree
50058,06/01/2021,RI,144131,NaN,NaN,6,0.0,2711,NaN,NaN,1,0.0,04/22/2022 01:12:04 PM,Not agree,NaN
50059,07/06/2021,OR,209494,209494.0,0.0,117,0.0,2782,2782.0,0.0,1,0.0,07/07/2021 02:48:49 PM,Agree,Agree
50060,07/22/2021,KY,471470,351970.0,119500.0,970,353.0,8009,7103.0,906.0,5,0.0,07/24/2021 12:00:00 AM,Agree,Agree

In [12]:
Covid_by_state.columns.tolist()

['submission_date',
 'state',
 'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'created_at',
 'consent_cases',
 'consent_deaths']

In [7]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv'
Covid_sex = pd.read_csv(file_path)
Covid_sex

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0,NaN
1,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0,NaN
2,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0,NaN
3,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0,NaN
4,05/04/2022,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88123,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,50-64 years,NaN,69.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
88124,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,55-64 years,NaN,51.0,NaN,NaN,0.0,NaN,One or more data cells have counts between 1-9...
88125,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,65-74 years,NaN,101.0,12.0,NaN,0.0,12.0,One or more data cells have counts between 1-9...
88126,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,75-84 years,NaN,196.0,26.0,NaN,NaN,28.0,One or more data cells have counts between 1-9...
88127,05/04/2022,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,85 years and over,NaN,220.0,24.0,NaN,NaN,27.0,One or more data cells have counts between 1-9...

In [15]:
# Dropped Data as Of column (only states date data was downloaded)
# Dropped footnote, not much useful information
Covid_sex.drop(columns=['Footnote', 'Data As Of'], inplace=True)

In [19]:
Covid_sex.head(5)

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0
1,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0
2,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0
3,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0
4,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0

In [22]:
# Selecting subset By total
Covid_sex_by_total = Covid_sex.loc[Covid_sex['Group'] == 'By Total']
Covid_sex_by_total

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0
1,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0
2,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0
3,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0
4,01/01/2020,04/30/2022,By Total,NaN,NaN,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,01/01/2020,04/30/2022,By Total,NaN,NaN,Puerto Rico,Female,50-64 years,364.0,3697.0,619.0,281.0,11.0,713.0
2750,01/01/2020,04/30/2022,By Total,NaN,NaN,Puerto Rico,Female,55-64 years,275.0,2938.0,491.0,215.0,NaN,560.0
2751,01/01/2020,04/30/2022,By Total,NaN,NaN,Puerto Rico,Female,65-74 years,392.0,5697.0,864.0,294.0,10.0,971.0
2752,01/01/2020,04/30/2022,By Total,NaN,NaN,Puerto Rico,Female,75-84 years,463.0,9613.0,1406.0,329.0,33.0,1568.0
2753,01/01/2020,04/30/2022,By Total,NaN,NaN,Puerto Rico,Female,85 years and over,472.0,13531.0,1721.0,319.0,41.0,1913.0

In [25]:
# Dropping year and month
Covid_sex_by_total.drop(columns=['Year','Month'], inplace=True)
Covid_sex_by_total

C:\Users\chris\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Start Date,End Date,Group,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,01/01/2020,04/30/2022,By Total,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0
1,01/01/2020,04/30/2022,By Total,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0
2,01/01/2020,04/30/2022,By Total,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0
3,01/01/2020,04/30/2022,By Total,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0
4,01/01/2020,04/30/2022,By Total,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2749,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,50-64 years,364.0,3697.0,619.0,281.0,11.0,713.0
2750,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,55-64 years,275.0,2938.0,491.0,215.0,NaN,560.0
2751,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,65-74 years,392.0,5697.0,864.0,294.0,10.0,971.0
2752,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,75-84 years,463.0,9613.0,1406.0,329.0,33.0,1568.0
2753,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,85 years and over,472.0,13531.0,1721.0,319.0,41.0,1913.0

In [26]:
# Combining start and end date
Covid_sex_by_total['Date'] = Covid_sex_by_total['Start Date'] + '-' + Covid_sex_by_total['End Date']
Covid_sex_by_total

C:\Users\chris\AppData\Local\Temp/ipykernel_40716/269157331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Covid_sex_by_total['Date'] = Covid_sex_by_total['Start Date'] + '-' + Covid_sex_by_total['End Date']

,Start Date,End Date,Group,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Date
0,01/01/2020,04/30/2022,By Total,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0,01/01/2020-04/30/2022
1,01/01/2020,04/30/2022,By Total,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0,01/01/2020-04/30/2022
2,01/01/2020,04/30/2022,By Total,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0,01/01/2020-04/30/2022
3,01/01/2020,04/30/2022,By Total,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0,01/01/2020-04/30/2022
4,01/01/2020,04/30/2022,By Total,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0,01/01/2020-04/30/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,50-64 years,364.0,3697.0,619.0,281.0,11.0,713.0,01/01/2020-04/30/2022
2750,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,55-64 years,275.0,2938.0,491.0,215.0,NaN,560.0,01/01/2020-04/30/2022
2751,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,65-74 years,392.0,5697.0,864.0,294.0,10.0,971.0,01/01/2020-04/30/2022
2752,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,75-84 years,463.0,9613.0,1406.0,329.0,33.0,1568.0,01/01/2020-04/30/2022
2753,01/01/2020,04/30/2022,By Total,Puerto Rico,Female,85 years and over,472.0,13531.0,1721.0,319.0,41.0,1913.0,01/01/2020-04/30/2022

In [31]:
# Set Date as index, dropped start and end date
Covid_sex_by_total.drop(columns=['Start Date','End Date'], inplace=True)
Covid_sex_by_total.set_index('Date', drop=True, inplace=True)
Covid_sex_by_total

,Group,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
Date,,,,,,,,,,
01/01/2020-04/30/2022,By Total,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0
01/01/2020-04/30/2022,By Total,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0
01/01/2020-04/30/2022,By Total,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0
01/01/2020-04/30/2022,By Total,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0
01/01/2020-04/30/2022,By Total,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0
...,...,...,...,...,...,...,...,...,...,...
01/01/2020-04/30/2022,By Total,Puerto Rico,Female,50-64 years,364.0,3697.0,619.0,281.0,11.0,713.0
01/01/2020-04/30/2022,By Total,Puerto Rico,Female,55-64 years,275.0,2938.0,491.0,215.0,NaN,560.0
01/01/2020-04/30/2022,By Total,Puerto Rico,Female,65-74 years,392.0,5697.0,864.0,294.0,10.0,971.0
01/01/2020-04/30/2022,By Total,Puerto Rico,Female,75-84 years,463.0,9613.0,1406.0,329.0,33.0,1568.0
01/01/2020-04/30/2022,By Total,Puerto Rico,Female,85 years and over,472.0,13531.0,1721.0,319.0,41.0,1913.0

In [34]:
# Drop Group column
Covid_sex_by_total.drop(columns=['Group'], inplace=True)
Covid_sex_by_total.head(5)

C:\Users\chris\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
Date,,,,,,,,,
01/01/2020-04/30/2022,United States,All Sexes,All Ages,996678.0,7896588.0,884203.0,515129.0,11159.0,1375277.0
01/01/2020-04/30/2022,United States,All Sexes,Under 1 year,269.0,44238.0,550.0,34.0,30.0,814.0
01/01/2020-04/30/2022,United States,All Sexes,0-17 years,1030.0,78445.0,1590.0,275.0,213.0,2552.0
01/01/2020-04/30/2022,United States,All Sexes,1-4 years,134.0,8262.0,326.0,32.0,72.0,498.0
01/01/2020-04/30/2022,United States,All Sexes,5-14 years,329.0,13103.0,457.0,107.0,86.0,763.0

In [41]:
# We have to decide how to deal with NaN's without distorting the data. Should we replace some with zeros, or remove rows entirely?
# Most NaNs come from the really young groups which suggests that a zero might be appropriate
Covid_sex_by_total.loc[Covid_sex_by_total['State'] == 'New York']

,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
Date,,,,,,,,,
01/01/2020-04/30/2022,New York,All Sexes,All Ages,35949.0,272486.0,32702.0,16036.0,349.0,52936.0
01/01/2020-04/30/2022,New York,All Sexes,Under 1 year,NaN,1064.0,12.0,0.0,0.0,20.0
01/01/2020-04/30/2022,New York,All Sexes,0-17 years,25.0,1803.0,29.0,NaN,NaN,56.0
01/01/2020-04/30/2022,New York,All Sexes,1-4 years,NaN,177.0,NaN,NaN,NaN,11.0
01/01/2020-04/30/2022,New York,All Sexes,5-14 years,NaN,302.0,NaN,NaN,NaN,17.0
01/01/2020-04/30/2022,New York,All Sexes,15-24 years,67.0,1868.0,67.0,21.0,NaN,115.0
01/01/2020-04/30/2022,New York,All Sexes,18-29 years,151.0,3593.0,140.0,56.0,NaN,238.0
01/01/2020-04/30/2022,New York,All Sexes,25-34 years,244.0,4621.0,205.0,97.0,NaN,354.0
01/01/2020-04/30/2022,New York,All Sexes,30-39 years,386.0,5805.0,313.0,161.0,NaN,541.0
01/01/2020-04/30/2022,New York,All Sexes,35-44 years,580.0,6815.0,443.0,258.0,NaN,770.0
01/01/2020-04/30/2022,New York,All Sexes,40-49 years,935.0,8345.0,702.0,437.0,NaN,1208.0
01/01/2020-04/30/2022,New York,All Sexes,45-54 years,1627.0,12781.0,1287.0,780.0,15.0,2147.0
01/01/2020-04/30/2022,New York,All Sexes,50-64 years,5293.0,39639.0,4595.0,2603.0,55.0,7335.0
01/01/2020-04/30/2022,New York,All Sexes,55-64 years,4252.0,31557.0,3753.0,2103.0,45.0,5944.0
01/01/2020-04/30/2022,New York,All Sexes,65-74 years,7251.0,51061.0,6595.0,3536.0,70.0,10375.0
01/01/2020-04/30/2022,New York,All Sexes,75-84 years,9436.0,66348.0,8863.0,4361.0,83.0,14018.0
01/01/2020-04/30/2022,New York,All Sexes,85 years and over,12472.0,95892.0,11465.0,4876.0,119.0,19165.0
01/01/2020-04/30/2022,New York,Male,All Ages,18962.0,138170.0,17814.0,8894.0,171.0,28040.0
01/01/2020-04/30/2022,New York,Male,Under 1 year,NaN,607.0,NaN,0.0,0.0,14.0
01/01/2020-04/30/2022,New York,Male,0-17 years,20.0,1059.0,20.0,NaN,NaN,39.0
01/01/2020-04/30/2022,New York,Male,1-4 years,NaN,101.0,NaN,NaN,NaN,NaN
01/01/2020-04/30/2022,New York,Male,5-14 years,NaN,176.0,NaN,NaN,NaN,11.0
01/01/2020-04/30/2022,New York,Male,15-24 years,45.0,1357.0,44.0,16.0,0.0,73.0
01/01/2020-04/30/2022,New York,Male,18-29 years,99.0,2607.0,92.0,38.0,NaN,154.0
01/01/2020-04/30/2022,New York,Male,25-34 years,156.0,3249.0,132.0,59.0,NaN,231.0
01/01/2020-04/30/2022,New York,Male,30-39 years,245.0,3967.0,203.0,106.0,NaN,344.0
01/01/2020-04/30/2022,New York,Male,35-44 years,363.0,4543.0,282.0,166.0,NaN,481.0
01/01/2020-04/30/2022,New York,Male,40-49 years,606.0,5384.0,428.0,271.0,NaN,768.0
01/01/2020-04/30/2022,New York,Male,45-54 years,1075.0,8141.0,813.0,511.0,10.0,1386.0
01/01/2020-04/30/2022,New York,Male,50-64 years,3401.0,24551.0,2849.0,1670.0,34.0,4611.0
01/01/2020-04/30/2022,New York,Male,55-64 years,2716.0,19394.0,2306.0,1335.0,28.0,3713.0
01/01/2020-04/30/2022,New York,Male,65-74 years,4342.0,29409.0,3974.0,2133.0,38.0,6217.0
01/01/2020-04/30/2022,New York,Male,75-84 years,5116.0,34182.0,4951.0,2442.0,44.0,7667.0
01/01/2020-04/30/2022,New York,Male,85 years and over,5133.0,37011.0,5297.0,2229.0,43.0,8240.0
01/01/2020-04/30/2022,New York,Female,All Ages,16987.0,134316.0,14888.0,7142.0,178.0,24896.0
01/01/2020-04/30/2022,New York,Female,Under 1 year,0.0,457.0,NaN,0.0,0.0,NaN
01/01/2020-04/30/2022,New York,Female,0-17 years,NaN,744.0,NaN,NaN,NaN,17.0
01/01/2020-04/30/2022,New York,Female,1-4 years,NaN,76.0,NaN,0.0,NaN,NaN
01/01/2020-04/30/2022,New York,Female,5-14 years,NaN,126.0,NaN,NaN,NaN,NaN
01/01/2020-04/30/2022,New York,Female,15-24 years,22.0,511.0,23.0,NaN,NaN,42.0
01/01/2020-04/30/2022,New York,Female,18-29 years,52.0,986.0,48.0,18.0,NaN,84.0
01/01/2020-04/30/2022,New York,Female,25-34 years,88.0,1372.0,73.0,38.0,0.0,123.0
01/01/2020-04/30/2022,New York,Female,30-39 years,141.0,1838.0,110.0,55.0,NaN,197.0
01/01/2020-04/30/2022,New York,Female,35-44 years,217.0,2272.0,161.0,92.0,NaN,289.0
01/01/2020-04/30/2022,New York,Female,40-49 years,329.0,2961.0,274.0,166.0,NaN,440.0
01/01/2020-04/30/2022,New York,Female,45-54 years,552.0,4640.0,474.0,269.0,NaN,761.0
01/01/2020-04/30/2022,New York,Female,50-64 years,1892.0,15088.0,1746.0,933.0,21.0,2724.0
01/01/2020-04/30/2022,New York,Female,55-64 years,1536.0,12163.0,1447.0,768.0,17.0,2231.0
01/01/2020-04/30/2022,New York,Female,65-74 years,2909.0,21652.0,2621.0,1403.0,32.0,4158.0
01/01/2020-04/30/2022,New York,Female,75-84 years,4320.0,32166.0,3912.0,1919.0,39.0,6351.0
01/01/2020-04/30/2022,New York,Female,85 years and over,7339.0,58881.0,6168.0,2647.0,76.0,10925.0

In [79]:
Covid_sex.tail(5)

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
88123,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,50-64 years,NaN,69.0,NaN,NaN,0.0,NaN
88124,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,55-64 years,NaN,51.0,NaN,NaN,0.0,NaN
88125,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,65-74 years,NaN,101.0,12.0,NaN,0.0,12.0
88126,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,75-84 years,NaN,196.0,26.0,NaN,NaN,28.0
88127,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,85 years and over,NaN,220.0,24.0,NaN,NaN,27.0

In [80]:
# Creating DataFrame by month
Covid_sex_by_month = Covid_sex.loc[Covid_sex['Group'] == 'By Month']
Covid_sex_by_month

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,01/01/2020,01/31/2020,By Month,2020.0,1.0,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11017,01/01/2020,01/31/2020,By Month,2020.0,1.0,United States,All Sexes,Under 1 year,0.0,1784.0,41.0,0.0,8.0,49.0
11018,01/01/2020,01/31/2020,By Month,2020.0,1.0,United States,All Sexes,0-17 years,0.0,2966.0,90.0,0.0,63.0,153.0
11019,01/01/2020,01/31/2020,By Month,2020.0,1.0,United States,All Sexes,1-4 years,0.0,315.0,22.0,0.0,18.0,40.0
11020,01/01/2020,01/31/2020,By Month,2020.0,1.0,United States,All Sexes,5-14 years,0.0,471.0,21.0,0.0,29.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88123,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,50-64 years,NaN,69.0,NaN,NaN,0.0,NaN
88124,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,55-64 years,NaN,51.0,NaN,NaN,0.0,NaN
88125,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,65-74 years,NaN,101.0,12.0,NaN,0.0,12.0
88126,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,75-84 years,NaN,196.0,26.0,NaN,NaN,28.0
88127,04/01/2022,04/30/2022,By Month,2022.0,4.0,Puerto Rico,Female,85 years and over,NaN,220.0,24.0,NaN,NaN,27.0

In [84]:
# Dropping redundant columns
Covid_sex_by_month.drop(columns=['End Date','Group'], inplace=True)
Covid_sex_by_month.drop(columns=['Year', 'Month'], inplace=True)
Covid_sex_by_month.head(5)

C:\Users\chris\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Start Date,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,01/01/2020,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11017,01/01/2020,United States,All Sexes,Under 1 year,0.0,1784.0,41.0,0.0,8.0,49.0
11018,01/01/2020,United States,All Sexes,0-17 years,0.0,2966.0,90.0,0.0,63.0,153.0
11019,01/01/2020,United States,All Sexes,1-4 years,0.0,315.0,22.0,0.0,18.0,40.0
11020,01/01/2020,United States,All Sexes,5-14 years,0.0,471.0,21.0,0.0,29.0,50.0

In [89]:
# Converting Object to Date
Covid_sex_by_month['Start Date'] = pd.to_datetime(Covid_sex_by_month['Start Date'])

C:\Users\chris\AppData\Local\Temp/ipykernel_40716/3186929980.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Covid_sex_by_month['Start Date'] = pd.to_datetime(Covid_sex_by_month['Start Date'])

In [92]:
# Converting date to month year format
Covid_sex_by_month['Start Date'] = Covid_sex_by_month['Start Date'].dt.strftime('%d-%Y')
Covid_sex_by_month.tail()

C:\Users\chris\AppData\Local\Temp/ipykernel_40716/315089214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Covid_sex_by_month['Start Date'] = Covid_sex_by_month['Start Date'].dt.strftime('%d-%Y')

,Start Date,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
88123,01-2022,Puerto Rico,Female,50-64 years,NaN,69.0,NaN,NaN,0.0,NaN
88124,01-2022,Puerto Rico,Female,55-64 years,NaN,51.0,NaN,NaN,0.0,NaN
88125,01-2022,Puerto Rico,Female,65-74 years,NaN,101.0,12.0,NaN,0.0,12.0
88126,01-2022,Puerto Rico,Female,75-84 years,NaN,196.0,26.0,NaN,NaN,28.0
88127,01-2022,Puerto Rico,Female,85 years and over,NaN,220.0,24.0,NaN,NaN,27.0

In [58]:
df = Covid_sex_by_month.loc[Covid_sex_by_month['Age Group'] == 'All Ages']
df = df.loc[df['Sex'] == 'All Sexes']

# Covid_sex_by_month.groupby(['Year', 'Month']).sum()['Total Deaths']

,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,2020.0,1.0,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11067,2020.0,2.0,United States,All Sexes,All Ages,25.0,244951.0,15740.0,10.0,2373.0,18127.0
11118,2020.0,3.0,United States,All Sexes,All Ages,7173.0,269807.0,22478.0,3344.0,2437.0,28616.0
11169,2020.0,4.0,United States,All Sexes,All Ages,65546.0,322414.0,46426.0,28396.0,1237.0,84001.0
11220,2020.0,5.0,United States,All Sexes,All Ages,38328.0,280562.0,29009.0,15927.0,126.0,51516.0
...,...,...,...,...,...,...,...,...,...,...,...
87873,2021.0,12.0,Puerto Rico,All Sexes,All Ages,54.0,2815.0,333.0,33.0,NaN,359.0
87924,2022.0,1.0,Puerto Rico,All Sexes,All Ages,620.0,3691.0,795.0,427.0,NaN,990.0
87975,2022.0,2.0,Puerto Rico,All Sexes,All Ages,209.0,2658.0,470.0,159.0,NaN,522.0
88026,2022.0,3.0,Puerto Rico,All Sexes,All Ages,47.0,2553.0,306.0,37.0,NaN,322.0
88077,2022.0,4.0,Puerto Rico,All Sexes,All Ages,27.0,1402.0,156.0,15.0,NaN,170.0

In [63]:
deaths_per_month_df = df.loc[df['State'] == 'United States'].groupby(['Year', 'Month']).sum()[['COVID-19 Deaths', 'Pneumonia Deaths', 'Total Deaths']]
deaths_per_month_df

              COVID-19 Deaths  Pneumonia Deaths  Total Deaths
Year   Month
2020.0 1.0                6.0           17909.0      264677.0
       2.0               25.0           15740.0      244951.0
       3.0             7173.0           22478.0      269807.0
       4.0            65546.0           46426.0      322414.0
       5.0            38328.0           29009.0      280562.0
       6.0            18025.0           19293.0      250441.0
       7.0            31135.0           27121.0      279008.0
       8.0            29911.0           27356.0      277288.0
       9.0            19158.0           21130.0      257191.0
       10.0           24929.0           24327.0      273912.0
       11.0           53247.0           38294.0      302585.0
       12.0           98172.0           62907.0      367203.0
2021.0 1.0           105515.0           69843.0      373581.0
       2.0            48529.0           38076.0      282514.0
       3.0            23238.0           24602.0      271006.0
       4.0            18771.0           21283.0      257031.0
       5.0            14968.0           19450.0      258278.0
       6.0             8013.0           15615.0      245173.0
       7.0            11210.0           18247.0      257804.0
       8.0            48752.0           41850.0      303868.0
       9.0            63344.0           51001.0      312259.0
       10.0           42506.0           38571.0      299888.0
       11.0           32227.0           31893.0      288659.0
       12.0           45342.0           40992.0      319134.0
2022.0 1.0            82102.0           57784.0      364140.0
       2.0            48755.0           37440.0      284795.0
       3.0            14428.0           18295.0      250464.0
       4.0             3323.0            7271.0      137955.0

In [69]:
# Export csv file
filepath = 'Resources/Covid-19/Cleaned_Data/Total_Deaths_per_Month.csv'
deaths_per_month_df.to_csv(filepath)

In [8]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/COVID-19_Case_Surveillance_Public_Use_Data.csv'
Covid_case_surveillance = pd.read_csv(file_path)
Covid_case_surveillance

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2021/09/03,2021/09/03,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,Missing,Missing
1,2020/10/02,2020/10/02,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Unknown,Missing,Unknown,Missing
2,2020/07/17,2020/07/17,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Unknown,Missing,No,Missing
3,2020/12/07,2020/12/31,2020/12/07,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,Yes,Missing
4,2020/12/09,2020/12/14,2020/12/09,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...
71387127,2022/02/15,2022/03/11,NaN,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387128,2020/10/23,2020/11/05,NaN,2020/10/23,Laboratory-confirmed case,Female,80+ Years,Unknown,Missing,Missing,Missing,Missing
71387129,2020/11/10,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387130,2022/01/10,2022/01/12,2022/01/10,2022/01/10,Laboratory-confirmed case,Female,80+ Years,Unknown,No,Missing,No,Missing
71387131,2022/02/03,2022/02/03,2022/02/03,NaN,Probable Case,Female,80+ Years,Unknown,Unknown,Unknown,No,Unknown

In [10]:
Covid_case_surveillance.columns.tolist()

['cdc_case_earliest_dt ',
 'cdc_report_dt',
 'pos_spec_dt',
 'onset_dt',
 'current_status',
 'sex',
 'age_group',
 'race_ethnicity_combined',
 'hosp_yn',
 'icu_yn',
 'death_yn',
 'medcond_yn']

In [93]:
Covid_sex_by_month.head()

,Start Date,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,01-2020,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11017,01-2020,United States,All Sexes,Under 1 year,0.0,1784.0,41.0,0.0,8.0,49.0
11018,01-2020,United States,All Sexes,0-17 years,0.0,2966.0,90.0,0.0,63.0,153.0
11019,01-2020,United States,All Sexes,1-4 years,0.0,315.0,22.0,0.0,18.0,40.0
11020,01-2020,United States,All Sexes,5-14 years,0.0,471.0,21.0,0.0,29.0,50.0

In [96]:
# Load in CSV files
file_path = 'Resources/Covid-19/Data/covid_sex_by_month.csv'
Covid_sex_by_month.to_csv(file_path)

In [119]:
Covid_deaths_by_gender = Covid_sex_by_month.groupby(['Sex']).sum()[['COVID-19 Deaths', 'Pneumonia Deaths', 'Influenza Deaths', 'Total Deaths']]
Covid_deaths_by_gender

           COVID-19 Deaths  Pneumonia Deaths  Influenza Deaths  Total Deaths
Sex
All Sexes        4484960.0         3968313.0           42524.0    35960157.0
Female           1952085.0         1709552.0           18650.0    16543688.0
Male             2507777.0         2231103.0           19900.0    19391019.0

In [120]:
# Load in CSV files
file_path = 'Resources/Covid-19/Cleaned_Data/Total_Covid_deaths_by_gender.csv'
Covid_deaths_by_gender.to_csv(file_path)

In [122]:
Covid_deaths_per_state = Covid_sex_by_month.groupby(['State','Sex']).sum()[['COVID-19 Deaths', 'Pneumonia Deaths', 'Influenza Deaths', 'Total Deaths']].reset_index()
Covid_deaths_per_state

,State,Sex,COVID-19 Deaths,Pneumonia Deaths,Influenza Deaths,Total Deaths
0,Alabama,All Sexes,44012.0,29898.0,213.0,345154.0
1,Alabama,Female,19909.0,13326.0,41.0,160430.0
2,Alabama,Male,23590.0,16115.0,77.0,184452.0
3,Alaska,All Sexes,2466.0,1894.0,0.0,29347.0
4,Alaska,Female,734.0,488.0,0.0,11363.0
...,...,...,...,...,...,...
157,Wisconsin,Female,13868.0,9579.0,89.0,148309.0
158,Wisconsin,Male,17439.0,12684.0,124.0,168871.0
159,Wyoming,All Sexes,3102.0,2637.0,0.0,29373.0
160,Wyoming,Female,1226.0,964.0,0.0,12393.0
161,Wyoming,Male,1541.0,1213.0,0.0,15974.0

In [123]:
# Load in CSV files
file_path = 'Resources/Covid-19/Cleaned_Data/Total_deaths_per_state_by_gender.csv'
Covid_deaths_per_state.to_csv(file_path)

In [116]:
Covid_sex_by_month.groupby(['Age Group']).sum()['COVID-19 Deaths'].to_frame().reset_index()

            Age Group  COVID-19 Deaths
0          0-17 years           2238.0
1           1-4 years            268.0
2         15-24 years           6852.0
3         18-29 years          19203.0
4         25-34 years          37665.0
5         30-39 years          64871.0
6         35-44 years         102988.0
7         40-49 years         164767.0
8         45-54 years         260061.0
9          5-14 years            658.0
10        50-64 years         745572.0
11        55-64 years         583263.0
12        65-74 years         915430.0
13        75-84 years        1027086.0
14  85 years and over        1019420.0
15           All Ages        3993942.0
16       Under 1 year            538.0

In [124]:
Covid_sex_by_month.head()

,Start Date,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,01-2020,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11017,01-2020,United States,All Sexes,Under 1 year,0.0,1784.0,41.0,0.0,8.0,49.0
11018,01-2020,United States,All Sexes,0-17 years,0.0,2966.0,90.0,0.0,63.0,153.0
11019,01-2020,United States,All Sexes,1-4 years,0.0,315.0,22.0,0.0,18.0,40.0
11020,01-2020,United States,All Sexes,5-14 years,0.0,471.0,21.0,0.0,29.0,50.0

In [126]:
# Renaming Start date to month
Covid_sex_by_month.rename(columns = {'Start Date':'Month'}, inplace=True)
Covid_sex_by_month.head(2)

C:\Users\chris\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
11016,01-2020,United States,All Sexes,All Ages,6.0,264677.0,17909.0,3.0,2125.0,20037.0
11017,01-2020,United States,All Sexes,Under 1 year,0.0,1784.0,41.0,0.0,8.0,49.0

In [130]:
Deaths_per_month_by_state_gender = Covid_sex_by_month.groupby(['Month','Sex','State']).sum()[['COVID-19 Deaths', 'Pneumonia Deaths', 'Influenza Deaths', 'Total Deaths']].reset_index()
Deaths_per_month_by_state_gender

,Month,Sex,State,COVID-19 Deaths,Pneumonia Deaths,Influenza Deaths,Total Deaths
0,01-2020,All Sexes,Alabama,14718.0,11411.0,202.0,144885.0
1,01-2020,All Sexes,Alaska,411.0,422.0,0.0,11787.0
2,01-2020,All Sexes,Arizona,20871.0,20423.0,205.0,174985.0
3,01-2020,All Sexes,Arkansas,8616.0,8384.0,118.0,86047.0
4,01-2020,All Sexes,California,75804.0,82577.0,1828.0,726226.0
...,...,...,...,...,...,...,...
481,01-2022,Male,Virginia,4471.0,3109.0,0.0,31025.0
482,01-2022,Male,Washington,2726.0,2624.0,0.0,24625.0
483,01-2022,Male,West Virginia,1513.0,1490.0,0.0,10431.0
484,01-2022,Male,Wisconsin,2840.0,1796.0,0.0,22706.0
485,01-2022,Male,Wyoming,145.0,127.0,0.0,1982.0

In [131]:
# Load in CSV files
file_path = 'Resources/Covid-19/Cleaned_Data/Deaths_per_month_by_state_gender.csv'
Deaths_per_month_by_state_gender.to_csv(file_path)

In [138]:
All_Sex_df = Covid_sex_by_month.loc[Covid_sex_by_month['Sex'] == 'All Sexes']
Deaths_by_age_group = All_Sex_df.groupby(['Age Group']).sum()[['COVID-19 Deaths', 'Pneumonia Deaths', 'Influenza Deaths', 'Total Deaths']].reset_index()
Deaths_by_age_group

,Age Group,COVID-19 Deaths,Pneumonia Deaths,Influenza Deaths,Total Deaths
0,0-17 years,1187.0,1698.0,213.0,156007.0
1,1-4 years,134.0,326.0,72.0,12679.0
2,15-24 years,3682.0,2873.0,102.0,166985.0
3,18-29 years,10188.0,7858.0,190.0,296911.0
4,25-34 years,19725.0,14890.0,313.0,356134.0
5,30-39 years,33687.0,25386.0,412.0,441396.0
6,35-44 years,52937.0,40472.0,527.0,527885.0
7,40-49 years,83920.0,64794.0,731.0,660953.0
8,45-54 years,131457.0,105048.0,1193.0,934504.0
9,5-14 years,329.0,457.0,86.0,22520.0
10,50-64 years,373753.0,325112.0,4076.0,2678620.0
11,55-64 years,292769.0,258589.0,3105.0,2116896.0
12,65-74 years,458636.0,422665.0,3611.0,3245737.0
13,75-84 years,514412.0,476306.0,3828.0,3854085.0
14,85 years and over,510567.0,442238.0,3635.0,4533237.0
15,All Ages,1997308.0,1779051.0,20400.0,15868910.0
16,Under 1 year,269.0,550.0,30.0,86698.0

In [149]:
# Covid deaths percentage of overall deaths
Covid_percent_total_death = (Deaths_by_age_group['COVID-19 Deaths'])/(Deaths_by_age_group['Total Deaths'])*100

In [150]:
Deaths_by_age_group['COVID % of Total Deaths'] = Covid_percent_total_death

In [151]:
Deaths_by_age_group

,Age Group,COVID-19 Deaths,Pneumonia Deaths,Influenza Deaths,Total Deaths,COVID % of Total Deaths
0,0-17 years,1187.0,1698.0,213.0,156007.0,0.760863
1,1-4 years,134.0,326.0,72.0,12679.0,1.056866
2,15-24 years,3682.0,2873.0,102.0,166985.0,2.204988
3,18-29 years,10188.0,7858.0,190.0,296911.0,3.431331
4,25-34 years,19725.0,14890.0,313.0,356134.0,5.538646
5,30-39 years,33687.0,25386.0,412.0,441396.0,7.631922
6,35-44 years,52937.0,40472.0,527.0,527885.0,10.028131
7,40-49 years,83920.0,64794.0,731.0,660953.0,12.696818
8,45-54 years,131457.0,105048.0,1193.0,934504.0,14.067034
9,5-14 years,329.0,457.0,86.0,22520.0,1.460924
10,50-64 years,373753.0,325112.0,4076.0,2678620.0,13.953192
11,55-64 years,292769.0,258589.0,3105.0,2116896.0,13.830108
12,65-74 years,458636.0,422665.0,3611.0,3245737.0,14.130412
13,75-84 years,514412.0,476306.0,3828.0,3854085.0,13.347189
14,85 years and over,510567.0,442238.0,3635.0,4533237.0,11.262747
15,All Ages,1997308.0,1779051.0,20400.0,15868910.0,12.586296
16,Under 1 year,269.0,550.0,30.0,86698.0,0.310272

In [152]:
# Load in CSV files
file_path = 'Resources/Covid-19/Cleaned_Data/Deaths_by_age_group.csv'
Deaths_by_age_group.to_csv(file_path)